.filter-container {
  height: 130px;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.stores-filter-select__indicator-separator {
  display: none;
}

.stores-filter-select__placeholder {
  color: #8d8d8d !important;
}

.stores-filter-select__control {
  border-radius: 4px !important;
  font-size: 1em;
  letter-spacing: -0.015em;
  color: #263238;
  border: 1px solid #8d8d8d !important;
}

.stores-filter-container {
  flex: 1;
}

@media (min-width: 576px) {
  .stores-filter-container {
    flex: none;
    width: 270px;
  }

  .filter-container {
    padding-left: 40px;
  }
}
